@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFD6E4;
}

nav {
    display: flex;
    justify-content: flex-end;
}

a {
    padding: 5px;
    font-size: 18px;
}

a:hover {
    font-size: 25px;
}

#Laura {
    border: 12px solid #FFAFCC;
    max-width: 500px;
    width: 65%;
    height: auto;
}

.lauraAndSpeech {
    display: flex;
}


#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

h1 {
    padding: 25px;
    border-radius: 25px;
    background-color: #CDB4DB;
    text-align: center;
}

.speech-bubble {
    padding: 20px;
    width: max-content;
    position: relative;
    background: #a2d2ff;
    border-radius:25px;
    height: fit-content;
    white-space: nowrap;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 61px solid transparent;
	border-right-color: #a2d2ff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -30.5px;
	margin-left: -61px;
}

.underline{
    text-align: center;
    background-image: linear-gradient(90deg, #a2d2ff, #ffafcc);
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    font-size: 30px;
    padding-bottom: 5px;
  }

  .aboutMe {
    display: flex;
    font-size: 18px;
  }

  .columns {
    background-color: #FFAFCC;
text-align: center;
width: 30rem;
word-wrap: normal;
border: 2px solid #A2D2FF;
border-radius:25px;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    font-size: 2ch;
}

footer {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 560px){
    #intro {
        flex-direction: column;
    }
    .lauraAndSpeech {
        width: 90vw;
    }
    .speech-bubble{
        left: -12%;
    }
    body {
margin-left: 15px;
margin-right: 15px;
    }
    
}